[Unit]
Description=Backend for Jina fashion search

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/alexcg/fashion-search
ExecStart=/bin/bash -c 'cd /home/ubuntu/alexcg/fashion-search && source env/bin/activate && python app.py -t search'
Restart=always

[Install]
WantedBy=multi-user.target
