[Unit]
Description=Frontend for Jina fashion search

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/alexcg/fashion-search
ExecStart=/bin/bash -c 'cd /home/ubuntu/alexcg/fashion-search && source env/bin/activate && streamlit run frontend.py'
Restart=always

[Install]
WantedBy=multi-user.target
